// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

/*
  TOC

  1. Paths
  2. Colors
  3. Media Queries
  4. Flow Text
  5. Typography
  6. MQ
  7. Flexbox Grid
*/

/* 1. Paths */
$assets-path: "/assets/";
$s3-assets-path: "https://static.fluencyy.com/www.andrewbrey.com";

/* 2. Colors */
$off-black: #222222;
$dark-grey: #444444;
$mid-grey: #999999;
$light-grey: #ededed;

$brand-green: #254e53;
$brand-dark-blue: #262b8e;
$brand-light-blue: #0194a8;
$brand-red: #8e4544;
$brand-off-white: #f9f9f9;

$brand-colors: (
	"off-black": $off-black,
	"dark-grey": $dark-grey,
	"mid-grey": $mid-grey,
	"light-grey": $light-grey,
	"green": $brand-green,
	"dark-blue": $brand-dark-blue,
	"light-blue": $brand-light-blue,
	"red": $brand-red,
	"off-white": $brand-off-white
);

/* 3. Media Queries */
$phone: 320px;
$tablet: 740px;
$desktop: 980px;
$wide: 1300px;

$margin-none: 0;
$margin-sm: 5;
$margin-2sm: 10;
$margin-base: 15;
$margin-md: 20;
$margin-2md: 25;
$margin-lg: 30;
$margin-xl: 50;
$margin-2xl: 100;
$margin-3xl: 150;
$margin-4xl: 200;
$margin-5xl: 250;
$margin-6xl: 300;

$padding-6xl: 300;
$padding-5xl: 250;
$padding-4xl: 200;
$padding-3xl: 150;
$padding-2xl: 100;
$padding-xl: 50;
$padding-lg: 30;
$padding-2md: 25;
$padding-md: 20;
$padding-base: 15;
$padding-2sm: 10;
$padding-sm: 5;
$padding-none: 0;

/* 4. Flow Text */
$range: $wide - $tablet;
$intervals: 20;
$interval-size: $range / $intervals;

/* 5. Typography */
$text-font-stack: "fluencyy", "Open Sans", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$code-font-stack: "Courier New", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Monaco", monospace;
$base-font-size: 12px;
$base-line-height: 1.6;
$body-text-color: $off-black;

/* 6. MQ */
$mq-base-font-size: $base-font-size;
$mq-breakpoints: (
	phone: $phone,
	tablet: $tablet,
	desktop: $desktop,
	wide: $wide
);

/* 7. Flexbox Grid */
$fg-sm-min: $tablet;
$fg-md-min: $desktop;
$fg-lg-min: $wide;
