// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------
body {
	display: flex;
	flex-direction: column;
	background: get-brand-color("off-black");
	height: 100vh;
	text-align: center;
	font-family: $text-font-stack;
}

main {
	flex: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	position: relative;
}

section {
	z-index: 1;
}

#video {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	object-fit: cover;
	height: 100%;
	width: 100%;

	/* Try to get rid of the media controls... */
	&::-webkit-media-controls-panel,
	&::-webkit-media-controls-play-button,
	&::-webkit-media-controls-start-playback-button,
	&::-webkit-media-controls-current-time-display,
	&::-webkit-media-controls-time-remaining-display,
	&::-webkit-media-controls-timeline,
	&::-webkit-media-controls-mute-button,
	&::-webkit-media-controls-volume-slider,
	&::-webkit-media-controls-fullscreen-button,
	&::-internal-media-controls-download-button,
	&::-webkit-media-controls,
	&::-webkit-media-controls-enclosure,
	&::-webkit-media-controls-overlay-enclosure {
		-webkit-appearance: none !important;
		display: none !important;
		opacity: 0 !important;
		visibility: hidden !important;
		border: 0;
		clip: rect(0 0 0 0);
		height: 1px;
		margin: -1px;
		overflow: hidden;
		padding: 0;
		position: absolute;
		width: 1px;
	}
}

.video-cover,
.video-overlay {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
}

.video-cover {
	background: url("#{$s3-assets-path}/coffee_cover_1c7b7a98-3cd3-4fb5-8985-5c6a90acf681.jpeg") no-repeat center;
	background-size: cover;
}

.video-overlay {
	background: rgba(get-brand-color("off-black"), 0.5);
}

.identification {
	.name {
		text-transform: uppercase;
		font-weight: bold;
		font-family: $text-font-stack;
		color: get-brand-color("off-white");
		font-size: 4rem;
		margin-top: -2rem;
		margin-bottom: 0;
	}

	.title {
		color: rgba(get-brand-color("light-grey"), 0.8);
		font-size: 2rem;
		margin-top: 0;
	}
}

.links {
	margin-top: 3rem;

	a {
		border: 2px solid rgba(get-brand-color("light-grey"), 0.8);
		border-radius: 4rem;
		font-size: 1rem;
		color: get-brand-color("off-white");
		letter-spacing: 1px;
		text-decoration: none;
		text-transform: uppercase;
		padding: 0.75rem 2rem;
		display: inline-block;
		margin-right: 1rem;
		margin-top: 1rem;

		@include on-event {
			background: rgba(get-brand-color("dark-grey"), 0.8);
		}
	}
}
