<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, shrink-to-fit=no">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<base href="/">

<meta name="description" content="Personal website of Andrew Brey - software developer and founder of Fluencyy LLC">
<meta name="image" content="https://static.fluencyy.com/www.andrewbrey.com/og_image_1c7b7a98-3cd3-4fb5-8985-5c6a90acf681.png">
<meta name="keywords" content="andrew brey software developer fluencyy engineer programmer seattle denver" property="keywords">
<meta name="google" value="notranslate">
<meta name="robots" content="index,follow"><!-- All Search Engines -->
<meta name="googlebot" content="index,follow"><!-- Google Specific -->

<!-- Open Graph data -->
<meta name="og:url" content="https://www.andrewbrey.com">
<meta name="og:type" content="website">
<meta name="og:title" content="Andrew Brey - Software Developer">
<meta name="og:image" content="https://static.fluencyy.com/www.andrewbrey.com/og_image_1c7b7a98-3cd3-4fb5-8985-5c6a90acf681.png">
<meta name="og:image:alt" content="Andrew Brey - Software Developer">
<meta name="og:description" content="Personal website of Andrew Brey - software developer and founder of Fluencyy LLC">
<meta name="og:site_name" content="Andrew Brey">
<meta property="og:locale" content="en_US">
<!-- Mobile header color for Chrome, Firefox OS and Opera -->
<meta name="theme-color" content="#222222">
<!-- Mobile header color Windows Phone -->
<meta name="msapplication-navbutton-color" content="#222222">
<!-- Mobile header color for iOS Safari (supports black, black-translucent or default) -->
<meta name="apple-mobile-web-app-status-bar-style" content="default">
