// -----------------------------------------------------------------------------
// This file contains all @font-face declarations, if any.
// -----------------------------------------------------------------------------
@font-face {
	font-family: "fluencyy";
	src: font("fluencyy-regular.ttf");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "fluencyy";
	src: font("fluencyy-bold.ttf");
	font-style: normal;
	font-weight: bold;
}

@font-face {
	font-family: "fluencyy";
	src: font("fluencyy-light.ttf");
	font-style: normal;
	font-weight: 300;
}
