/**
 * Basic typography style for copy text
 */
html {
	color: $body-text-color;
	font-family: $text-font-stack;
	font-style: normal;
	font-size: $base-font-size;
	line-height: $base-line-height;
}

.flow-text {
	$i: 0;
	@while $i <= $intervals {
		@media only screen and (min-width: $phone + ($i * $interval-size)) {
			font-size: 1.2rem * (1 + (0.02 * $i));
		}
		$i: $i + 1;
	}

	// Handle below phone
	@media only screen and (max-width: $phone) {
		font-size: 1.2rem;
	}
}
